/* 아래에 CSS를 작성해주세요. */
.subtitle {
    font-size: 12px;
    display: block;
}

.title {
    text-align: center;
}

.item-img {
    width: 100%;
}

.subtext {
    color: gray;
    
}

.item-list {
    width: 900px;
}

.item {
    width: 350px;
    display: inline-block;
    margin-left: 30px;
    
}

.text {
    font-size: 12px;
    color: gray;
}